div.artBody{
    background-image: url("../../../public/backround1.png");
    display: flexbox;
    justify-content: center;
    align-items: center;
    min-height: 1000px;

    color: #f55307
}

div.socials {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
div.socials > ul{
  padding: 5px;
  background-color:#5e2b2b;
  border-radius: 10px;
}
div.socials > ul > li{
  padding: 10px;
  width: 200px;
}
div.socials > ul > li > a{
  justify-content: space-between;
  border-radius: 5px;
  color: aliceblue;
  background-color: #3e0c0c;
  align-items: center;
  padding-inline-start: 10px;
  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}