html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  list-style-type: none;

  text-align: center;
}

header, body {
  background-color:#e3dfde;
}

div {
  text-decoration: none;
  font-family: 'Andale Mono, monospace';
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

div.indexBody {
  justify-content: middle;
  background-color: #dee1e3; 
}

div.dataInput > form{
  border-radius: 10px;
  background-color:#0d173b;
  padding: 5px;
}
div.dataInput > form > label {
  display: block;
  padding: 5px;
}
div.showData{
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #1e3665d0;
  border-radius: 10px;
}
div.showData > div{
  padding: 3px;
}
div.showData > div > li{
  border-radius: 10px;
  width: 150px;
  padding: 5px;
  background-color: #0d183b;
}

div.windows {
  padding: 10px;
  min-width: 250px;
}
div.windowsContent {
  color: #dee1e3;
  border-radius: 10px;
  padding: 5px;
  
}
div.titleBox {
  color: #dee1e3;
  background-color: #1e3665d0;
  border-radius: 10px;
}

ul.nav {
  color: Black;
}

ul.nav-tabs {
  display:flex;
  justify-content: center;
  background-color: #1e3665d0;
  padding-block: 10px;
  color: #dee1e3;
  border-radius: 10px;
}

p.nav-link {
  padding-inline: 15px;
  font-size: large;
}

table {
  width:100%;

}

div.spacer{
  background-color:"#dee1e3";
  padding-Block:"100px" ;
  color:"White";
}

td.chartTable {
  background-color:#dee1e3;
  border-radius: 10px;
  padding: 15px;
}

div.freefloat {
  color: black;
}



body.bodyred {
  background-image: url("../public/backround1.png");
  display: flexbox;
  justify-content: center;
  align-items: center;
}
div.indexBodyred {
  justify-content: left;
  text-align: left;
  align-self: left;
  align-items: left;
}
div.dropDownred {
  justify-content: left;
  text-align: left;
  align-self: left;
  align-items: left;
  display: flex;
  color: white;
}


ul.nav-tabsred {
  display:flex;
  justify-content: center;
  background-color: #8e2929;
  padding-block: 10px;
  color: #dee1e3;
  border-radius: 10px;
}

div.windowsred{
  min-width: 250px;
  color: #dee1e3;
  border-radius: 10px;
  padding: 5px;
}

div.titleBoxred{
  justify-content: left;
  text-align: left;
  align-self: left;
  align-items: left;

  color: #dee1e3;
  background-color: #8e2929;
  border-radius: 10px;
}

div.titleBoxred > p{
  justify-content: left;
  text-align: left;
  align-self: left;
  align-items: left;

  color: #dee1e3;
  background-color: #8e2929;
  border-radius: 10px;
}
div.titleBoxred > h3{
  justify-content: left;
  text-align: left;
  align-self: left;
  align-items: left;

  color: #dee1e3;
  background-color: #8e2929;
  border-radius: 10px;
}
div.titleBoxred > h4{
  justify-content: left;
  text-align: left;
  align-self: left;
  align-items: left;

  color: #dee1e3;
  background-color: #8e2929;
  border-radius: 10px;
}

div.freefloatred { 
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.freefloatred > div{
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  
}
div.freefloatred > div > div{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

p.express-linkred {
  font-size: larger;
}



div.dataInputred > form{
  border-radius: 10px;
  background-color: #3e0c0c;
  padding: 5px;
}
div.dataInput > form > label {
  display: block;
  padding: 5px;
}
div.showDatared{
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #3e0c0c;
  border-radius: 10px;
}
div.showDatared > div{
  padding: 3px;
}
div.showDatared > div > li{
  border-radius: 10px;
  width: 150px;
  padding: 5px;
  background-color: #8e2929;
}
